 <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">Delivery Panel</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        
        <div class="info">
          <a href="#" class="d-block">Hello, {{user.first_name|title}} </a><a href="{% url 'logout' %}"> Logout</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url 'dashboard_index' %}" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a href="{% url 'account_index' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Users
              </p>
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'driver_index' %}" class="nav-link">
              <i class="nav-icon fas fa-people-carry"></i>
              <p>
                Driver
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'company_index' %}" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Company
                
              </p>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'depature_index' %}" class="nav-link">
              <i class="nav-icon fas fa-truck"></i>
              <p>
                Add Departure
                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'delivered_index' %}" class="nav-link">
              <i class="nav-icon fas fa-dolly"></i>
              <p>
                Add Delivered
               
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>